<mat-toolbar color="primary" class="toolbar-menu mat-elevation-z6">
  <span>Menu</span>
</mat-toolbar>
 <mat-selection-list >
  <a mat-list-item class="option" routerLink="/home" routerLinkActive="active">
    <mat-icon class="icon">home</mat-icon> Home page
  </a>
  <a mat-list-item class="option" routerLink="/movies" routerLinkActive="active" >
    <mat-icon class="icon">movie</mat-icon> Movies page
  </a>
  <a mat-list-item class="option"  routerLink="/contact" routerLinkActive="active" >
    <mat-icon class="icon">call</mat-icon> Contact page
  </a>
</mat-selection-list>
